---
const { question, answer } = Astro.props;
---

<div class="accordion group relative divide-y divide-atlantis-200 bg-atlantis-100">
  <button
    class="accordion__button flex w-full flex-1 items-center justify-between gap-2 px-3 py-6 text-left font-normal transition hover:text-atlantis-600 sm:px-4"
    type="button"
    id={`${question} accordion menu button`}
    aria-expanded="false"
    aria-controls={`${question} accordion menu content`}
  >
    {question}

    <!-- use this is not using astro-icon (or another SVG you like) -->
    <svg
      class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      ><path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m6 9l6 6l6-6"></path></svg
    >
  </button>

  <div
    id={`${question} accordion menu content`}
    aria-labelledby={`${question} accordion menu button`}
    class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
  >
    <p class="prose mb-4 mt-1 max-w-full transition-[height] text-">
      {answer}
    </p>
  </div>
</div>

<script>
  import '../../scripts/accordionSetup.js'
</script>
