---
import CustomImage from "../CustomImage.astro";
import profilePic from "../../assets/profile-pic.jpeg";
import CustomButton from "../CustomButton.astro";
import data from "../../data.json";

const { customButton } = Astro.props;
const whatsapp = import.meta.env.PUBLIC_WHATSAPP_NUMBER;
const mensajeWhatsApp =
  "Hola,%20Estoy%20interesado/a%20en%20recibir%20más%20información%20sobre%20el%20plan%20de%20alimentación.%20¿Podrías%20ayudarme?";
---

<div
  class="flex justify-center w-full bg-gradient-to-r from-atlantis-300 to-atlantis-100 h-auto lg:h-[800px] py-8 lg:py-0"
>
  <div
    class="container mx-auto px-4 sm:px-8 flex flex-col lg:flex-row items-center justify-between h-full"
  >
    <!-- Sección de Texto -->
    <div
      class="text-center lg:w-1/2 lg:text-left flex flex-col items-center lg:items-start"
    >
      <h1 class="leading-normal text-2xl sm:text-3xl lg:text-4xl pt-16">
        {data.mainTitle}
      </h1>
      <p class="mt-4 sm:mt-6 text-base sm:text-lg">
        ¿Quieres optimizar tu nutrición y rendimiento deportivo de la manera más
        cómoda?
      </p>
      <p class="mt-4 sm:mt-6 text-base sm:text-lg">
        Desde cualquier lugar y sin necesidad de moverte, trabajaremos juntos en
        un plan integral que incluya una dieta adaptada y rutinas de ejercicio
        para maximizar tus resultados.
      </p>
      <p class="mt-4 sm:mt-6 text-base sm:text-lg">
        Todo el proceso es sencillo y accesible desde tu móvil, con un
        seguimiento constante y ajustes según tu progreso.
      </p>
      <p class="mt-8 md:mt-12"></p>
      <a
        href=`https://wa.me/${whatsapp}?text=${mensajeWhatsApp}`
        target="_blank"
      >
        <CustomButton customButton={customButton} />
      </a>
    </div>
    <!-- Sección de la Imagen -->
    <div class="text-center flex justify-center mt-8 lg:mt-0 lg:ml-6 w-full lg:w-1/2">
      <CustomImage
        src={profilePic}
        alt="imagen de perfil"
        width=""
      />
    </div>
  </div>
</div>