---
import SectionLayout from "../../layouts/SectionLayout.astro";
import TestimonieCard from "../Homepage/Cards/TestimonieCard.astro";
import profile1 from "../../assets/testi-profile1.jpg";
import profile2 from "../../assets/testi-profile2.jpg";
import profile3 from "../../assets/testi-profile3.jpg";
import data from "../../data.json";

const sectionTitle = "Experiencias de Bienestar";
const subtitle = "Testimonios que inspiran una vida saludable";

const testimonies = data.testimonies;
const currentIndex = 0;
---

<SectionLayout sectionTitle={sectionTitle} subtitle={subtitle}>
  <div class="relative overflow-hidden w-full max-w-[1089px] mx-auto">
    <div
      id="carousel"
      class="flex transition-transform duration-700 ease-in-out"
    >
    {
      testimonies.map((item, index) => {
        const testimoniesImages = [profile1, profile2, profile3];
        const imagesSrc = testimoniesImages[index];
        
        return (
          <div key={index} class="w-full flex-shrink-0">
            <TestimonieCard
              testimoniePic={imagesSrc}
              alt={item.name}
              text={item.text}
              name={item.name}
            />
          </div>
        );
      })
    }
    </div>
    <button
      id="prev-btn"
      class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-700 text-atlantis-900 z-10 px-3"
    >
      ◀️
    </button>
    <button
      id="next-btn"
      class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-700 text-atlantis-900 z-10 px-3"
    >
      ▶️
    </button>
  </div>

  <script>
    import "../../scripts/carouselSetup.js";
  </script>
</SectionLayout>
