---
import PageHeaderLayout from "../../layouts/PageHeaderLayout.astro";
import RecipeCard from "../../components/Nutrirecetas/RecipeCard.astro"

export async function getStaticPaths() {
  const allRecipes = await Astro.glob("../nutrirecetas/*.md");
  const uniqueTags = [
    ...new Set(allRecipes.map((recipe) => recipe.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredRecipes = allRecipes.filter((recipe) =>
      recipe.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { recipes: filteredRecipes },
    };
  });
}

const { tag } = Astro.params;
const { recipes } = Astro.props;

const pageSubtitle = "";
---

<PageHeaderLayout pageTitle={tag}>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-2 py-6">
      {
        recipes.map((recipe) => (
          <RecipeCard
          imageSrc={recipe.frontmatter.image.url}
          title={recipe.frontmatter.title}
          stars="5.0"
          description={recipe.frontmatter.description}
          url={recipe.url}
        />
        ))
      }
  </div>
</PageHeaderLayout>
