---
import PageHeaderLayout from "../layouts/PageHeaderLayout.astro";
import RecipeFilter from "../components/Nutrirecetas/RecipeFilter.jsx";
import RecipesTags from "../components/Nutrirecetas/RecipesTags.astro";
import RecipeCard from "../components/Nutrirecetas/RecipeCard.astro";

const allRecipes = await Astro.glob("../pages/nutrirecetas/*.md");

const pageTitle = "Nutrirecetas";
const pageSubtitle =
  "Suspendisse non urna sem. Nam aliquet pellentesque egestas. Nunc orci mi, eleifend nec mauris eget, feugiat placerat nunc. Suspendisse potenti. Proin nec dictum elit. Vestibulum scelerisque ligula in ornare pellentesque.";
---

<PageHeaderLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
  <RecipeFilter client:load/>
  <RecipesTags />
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-2 py-6">
    {
      allRecipes.map((recipe) => (
        <RecipeCard
          imageSrc={recipe.frontmatter.image.url}
          title={recipe.frontmatter.title}
          stars="5.0"
          description={recipe.frontmatter.description}
          url={recipe.url}
        />
      ))
    }
  </div>
</PageHeaderLayout>
